header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px  2px 2px 2px gray;
    
}
.logo-nav{
    height: 5rem;
}

ul li{
    list-style-type: none;
    text-decoration: none;
}

li a{
    color: black;
    font-weight: 600;
    font-size: large;
    margin: 10px;
    text-decoration: none;
    padding: 5px;
    
   
}
li a:hover {
    color:blue}

.carrito{
    margin: 10px;
    text-decoration: none;
    color: black;
}

